.rubricator{
    width:20%;
    display:inline-block;
    vertical-align:top;
    margin-top:20px;
}

.api-rubricator{
    width:20%;
    display:inline-block;
    vertical-align:top;
}
h5 {
    margin-top:20px; 
}

#news-block, #rubrics-block, .json-block {
    width:60%;
    display:inline-block;
}

#rubrics-block {
    margin-top:20px;
}

.article-header{
    margin-top:20px;
    font-weight: bold;
}

.article-rubric{
    font-style: italic;
    font-size:10pt;
}